@font-face {
  font-family: 'Colby';
  src: local('Colby Black'), local('Colby-StBlk'),
      url('Colby-StBlk.woff2') format('woff2'),
      url('Colby-StBlk.woff') format('woff'),
      url('Colby-StBlk.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
