/* Colors */
$green: #56b25d;
$yellow: #fedc00;
$white: #fff;
$black: #333;
$pine: #35573c;

/* Blobby settings */
$primary: $green;
$secondary: $yellow;
$body-bg: $primary;
$text-color: $white;
$link-color: $secondary;
$font-family-sans-serif: Jaldi, sans-serif;
$font-family-headings: Colby, sans-serif;
