@import "variables";
@import "fonts";
@import "@compromis/blobby/scss/blobby";
@import "info";

:root {
  --pine: #{$pine};
  --font-headings: #{$font-family-headings};
}

body {
  padding-top: 4rem;
}
