---
// Style Imports
import '../styles/global.scss';
---
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>III Congrés Verds-Equo</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="verds, equo, verdes, compromis, european greens, congres, congreso, emergencia climatica" />
  <meta property="og:locale" content="ca" />
  <meta property="og:site_name" content="III Congrés Verds-Equo" />
  <meta property="twitter:site" content="@VerdsEquo_" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="III Congrés Verds-Equo" />
  <meta property="description" content="Respostes verdes en temps d'emergències" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Respostes verdes en temps d'emergències" />
  <meta property="og:image" content="https://congres.verdsequo.org/assets/images/og-image.png" />
  <meta property="og:url" content="https://congres.verdsequo.org" />
  <meta property="twitter:description" content="Respostes verdes en temps d'emergències" />
  <meta property="twitter:image" content="https://congres.verdsequo.org/assets/images/og-image.png" />
  <meta property="twitter:url" content="https://congres.verdsequo.org" />
</head>
<body>
  <main class="main-container">
    <slot />
  </main>
</body>
</html>
